<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= @item[:title] %></title>
        <link rel="stylesheet" href="/assets/detailed.css">
        <link rel="stylesheet" href="/assets/generic.css">
        <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
        <link rel="shortcut icon" href="/assets/favicon.gif" />
    </head>
    <body>
        <%= render '/topnav.*' %>
        <div id="main">
            <%= yield %>
        </div>

        <div id="sidebar">
            <div id="sidebar-content">
                <h2>Table Of Contents</h2>
                <% @item[:toc].each do |entry| %>
                <%= "&nbsp;&nbsp;" * (entry[:level]-1) %>
                <% if entry[:level] > 1 %>&gt;<% end %>
                <a href="#<%= entry[:anchor] %>"><%= entry[:text] %></a>
                <br />
                <% end %>
            </div>
        </div>
        <footer id="footer">
            <div id="footer-content">
                <% if @item.raw_filename %>
                    <div class="right">
                        <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
                    </div>
                <% end %>
                Stored in <a href="<%= @config[:scm_url] %>">gitlab</a>, where you can
                <% if @item.raw_filename %>
                    <a href="<%= @config[:file_prefix_url] + @item.identifier.to_s %>">suggest an edit</a> or
                <% end %>
                <a href="<%= @config[:issues_url] %>">submit and issue</a>.
            </div>
        </footer>
    </body>
</html>
